<header>
  <h3>Hello Trello</h3>
  <div>
    <button (click)="addListTitle()">Add List</button>
  </div>
</header>

<section *ngIf ="showAddList">
    <form class="addList">
      <span (click)="showAddList = !showAddList" style="text-align: end;cursor: pointer;">X</span>
      <label>Title</label>
      <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="listTitle" name="name">
      <button [disabled]="!listTitle" (click)="addList($event)">Add List </button>
    </form>
</section>
<div style="margin-bottom: 2rem;">
  <app-lists [lists] = "listsArr"></app-lists>
</div>
<footer>
   <span> ~by Sampreeth D 💻 :- <a href="https://github.com/sampreethD" target="_blank">Github</a>&nbsp;<a href="https://sampreeth-portfolio.netlify.app/" target="_blank">Portfolio</a></span>
</footer>

